<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.osamaomar.shopgate">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentationn.screens.feature.paypal.PaymentDetailsActivity"/>
        <activity android:name=".presentationn.screens.feature.paypal.PaypalActivity"
            android:label="@string/choice_payment_way"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.osamaomar.shopgate.presentationn.screens.feature.home.mainactivity.MainActivity" />
        </activity>

        <activity
            android:name=".presentationn.screens.feature.rate.RateActivity"
            android:label="@string/product_rates"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".presentationn.screens.feature.home.mainactivity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity-->
            <!--android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"-->
            <!--android:launchMode="singleTask">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--<data android:scheme="${applicationId}.braintree" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

    </application>

</manifest>